<nav id="navbar_top" class="navbar navbar-expand-lg navbar-dark bg-navb">
	<div class="container">

		<div class="navbar-widgets hidden-xs">
			<div id="text-27" class="widget widget_text">
				<div class="textwidget"><a href="#" target="_blank" class="btn btn-primary"
						rel="noopener noreferrer">KSPT Self Service</a> </div>
			</div>
		</div>
		<div class="collapse navbar-collapse" id="main_nav">


			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="#"> Home </a></li>
				<li class="nav-item dropdown">
					<a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown"> Employers </a>
					<ul class="dropdown-menu dropdown-menu-left">
						<li><a class="dropdown-item" href="#"> Overview</a></li>
						<li><a class="dropdown-item" href="#"> Who We Recruit </a></li>
						<li><a class="dropdown-item" href="#"> Clients </a></li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown"> Job Seekers </a>
					<ul class="dropdown-menu dropdown-menu-left">
						<li><a class="dropdown-item" href="#"> Overview </a></li>
						<li><a class="dropdown-item" href="#"> Who We Place </a></li>
					</ul>
				</li>
				<li class="nav-item"><a class="nav-link" href="#"> Search Jobs </a></li>
				<li class="nav-item dropdown">
					<a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown"> About Us </a>
					<ul class="dropdown-menu dropdown-menu-left">
						<li><a class="dropdown-item" href="#"> Overview </a></li>
						<li><a class="dropdown-item" href="#"> Supporting Our Community </a></li>
						<li><a class="dropdown-item" href="#"> Veteran and Military Hiring Program </a></li>
					</ul>
				</li>
				<li class="nav-item"><a class="nav-link" href="#"> News </a></li>
				<li class="nav-item"><a class="nav-link" href="#"> Contact Us </a></li>

			</ul>

		</div>
		<a class="navbar-brand" href="#">KSPT TECHNOLOGIES LLC
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</nav>






<div id="skrollr-body">


	<div class="screen" id="screen1"
		style="background-image: url(&quot;../../../assets/images/screen1.jpg&quot;); min-height: 546px;">
		<div class="screen-inner absolute-centered skrollable skrollable-between" data--500-bottom-top="opacity:0.5"
			data-top="opacity:1;" data-top-center="opacity:0;" data-anchor-target="#screen1"
			style="height: 500px; opacity: 1;">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
						<div class="screen-content">
							<div id="text-22" class="widget widget_text">
								<div class="textwidget">
									<h1>DELIVERING IT STAFFING SOLUTIONS THROUGH OPTIMUM PERFORMANCE</h1>
									<div class="row">
										<div class="col-sm-6">
											<p><a class="btn btn-primary btn-lg btn-block"
													href="/employers/">Employers</a></p>
										</div>
										<div class="col-sm-6">
											<p><a class="btn btn-primary btn-lg btn-block"
													href="/job-seekers/">Consultants</a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a href="#screen2" class="screen-link">Next</a>
	</div>

	<div class="screen" id="screen2"
		style="background-image: url(&quot;../../../assets/images/screen2.jpg&quot;); min-height: 657px;">
		<div class="screen-inner absolute-centered skrollable skrollable-before" data--500-bottom-top="opacity:0.5"
			data-top="opacity:1;" data-top-center="opacity:0;" data-anchor-target="#screen2"
			style="height: 380px; opacity: 0.5;">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
						<div class="screen-content">
							<div id="text-23" class="widget widget_text">
								<h2 class="widgettitle">YOUR FUTURE BEGINS HERE</h2>
								<div class="textwidget">
									<h4>Consulting. Contracting. Career Placement.</h4>
								</div>
							</div>
							<div id="text-24" class="widget widget_text">
								<h2 class="widgettitle">Find Jobs</h2>
								<div class="textwidget">
									<div id="jbspan"></div>
								</div>
							</div>
							<div id="rss-4" class="widget widget_rss">
								<h2 class="widgettitle"><a class="rsswidget" href="#"><img class="rss-widget-icon"
											style="border:0" width="14" height="14" src="#"></a> <a class="rsswidget"
										href="">Hot Jobs</a></h2><a href=""
									class="btn btn-primary btn-sm btn-view-all">View All</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a href="#screen3" class="screen-link">Next</a>
	</div>

	<div class="screen" id="screen3"
		style="background-image: url(&quot;../../../assets/images/screen3.jpg&quot;); min-height: 657px;">
		<div class="screen-inner absolute-centered skrollable skrollable-before" data--500-bottom-top="opacity:0.5"
			data-top="opacity:1;" data-top-center="opacity:0;" data-anchor-target="#screen3"
			style="height: 245px; opacity: 0.5;">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
						<div class="screen-content">
							<div id="text-25" class="widget widget_text">
								<div class="textwidget">
									<h2>FLEXIBILITY. PEACE OF MIND. RESULTS.</h2>
									<h4>IT Talent Solutions to meet any business initiative.</h4>
									<a class="btn btn-primary" href="/contact-us/">Contact us</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a href="#screen4" class="screen-link">Next</a>
	</div>

	<div class="screen" id="screen4"
		style="background-image: url(&quot;../../../assets/images/screen1.jpg&quot;);     margin-top: 100px; min-height: 874px;">
		<div class="screen-inner absolute-centered skrollable skrollable-before" data--500-bottom-top="opacity:0.5"
			data-top="opacity:1;" data-top-center="opacity:0;" data-anchor-target="#screen4"
			style="height: 714px; opacity: 0.5;     margin-top: 100px;">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
						<div class="screen-content">
							<div id="text-26" class="widget widget_text">
								<div class="textwidget">
									<div class="row">
										<div class="col-md-12">
											<!-- <h3>Corporate<br>
												Atlanta</h3> -->
											<p><iframe style="border: 0;"
													src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3341.4052748026106!2d-96.76298448480907!3d33.12471588086851!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c3d9cb805b533%3A0xe4cf48b54246d485!2s5722%20Civetta%20Ct%2C%20Frisco%2C%20TX%2075035%2C%20USA!5e0!3m2!1sen!2sin!4v1673609892614!5m2!1sen!2sin"
													width="600" height="450" style="border:0;" allowfullscreen=""
													loading="lazy" referrerpolicy="no-referrer-when-downgrade"
													width="100%" frameborder="0 " allowfullscreen=""></iframe></p>
											<p>Contact: <br>
												<i class="glyphicon glyphicon-earphone"></i>5722 CIVETTA CT, FRISCO, TX
												75035
											</p>
											<p><i class="far fa-map-marker-alt"></i> <a
													href="https://goo.gl/maps/Rrf7qaaRu51Kpd4XA" target="_blank"
													rel="noopener noreferrer">Directions</a></p>
										</div>
									</div>
									<!-- <div class="row">
										<div class="col-sm-4">
											<h4>Dallas</h4>
											<p><iframe style="border: 0; height: 120px !important;"
													src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3348.6073365765096!2d-96.81931948481396!3d32.93497118092482!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c20dee15807bb%3A0x427c3bc410e7df3d!2s13760+Noel+Rd+%23109%2C+Dallas%2C+TX+75240!5e0!3m2!1sen!2sus!4v1458156176727"
													width="100%" frameborder="0" allowfullscreen=""></iframe></p>
											<p>Contact: Pamela Pace<br>
												214-454-1489</p>
											<p><i class="glyphicon glyphicon-map-marker"></i> <a
													href="https://www.google.com/maps/place/13760+Noel+Rd+%23109,+Dallas,+TX+75240/@32.9350366,-96.8170825,17z/data=!3m1!4b1!4m2!3m1!1s0x864c20dee4ab93b3:0xbfe31c151176f5ec"
													target="_blank" rel="noopener noreferrer">Directions</a></p>
										</div>
										<div class="col-sm-4">
											<h4>Seattle</h4>
											<p><iframe style="border: 0; height: 120px !important;"
													src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1342.5111341811182!2d-122.15472476392749!3d47.70340519616526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54900d6e20e7043f%3A0xc092d0e08b782aec!2s11431+Willows+Rd+%23110%2C+Redmond%2C+WA+98052!5e0!3m2!1sen!2sus!4v1459956851072"
													width="100%" frameborder="0" allowfullscreen=""></iframe></p>
											<p>Contact: David Huynh<br>
												<i class="glyphicon glyphicon-earphone"></i>206.331.8273
											</p>
											<p><i class="glyphicon glyphicon-map-marker"></i><a
													href="https://www.google.com/maps/place/Quadrant/@47.7010096,-122.1572757,17z/data=!3m1!4b1!4m2!3m1!1s0x54900d6fbfc7f6d1:0x1075105f190eaa70"
													target="_blank" rel="noopener noreferrer">Directions</a></p>
										</div>
										<div class="col-sm-4">
											<h4><strong>Portland</strong></h4>
											<p><iframe id="gmap_canvas" style="height: 120px;"
													src="https://maps.google.com/maps?q=1075%20NW%20Northrup,%20Portland,%20OR%2097209,%20USA&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
													width="100%" frameborder="0" marginwidth="0" marginheight="0"
													scrolling="no"></iframe></p>
											<p>Contact: David Huynh<br>
												<i class="glyphicon glyphicon-earphone"></i>206.331.8273
											</p>
											<p>Contact: Samuel Newman<br>
												<i class="glyphicon glyphicon-earphone"></i>724.974.6214
											</p>
											<p><i class="glyphicon glyphicon-map-marker"></i> <a
													href="https://www.google.com/maps/place/1075+NW+Northrup+St+%23400,+Portland,+OR+97209,+USA/@45.5316781,-122.6840066,17z/data=!3m1!4b1!4m5!3m4!1s0x549509fdfb6b78c5:0x712ace9a6e64d4e7!8m2!3d45.5316781!4d-122.6818179"
													target="_blank" rel="noopener noreferrer">Directions</a></p>
										</div>
									</div> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a href="#top" class="screen-link link-top">Back to Top</a>
	</div>



</div>




<footer role="contentinfo">

	<div id="inner-footer" class="clearfix">

		<div class="footer-widgets">
			<div class="container">
				<div class="row">
					<!--<div class="col-sm-6">
													</div>-->
					<div class="col-sm-12 social-icons">
						<ul class="social pull-right">
							<li><a href="https://www.facebook.com/kspt" class="facebook" title="" target="_blank"
									data-original-title="Like us on Facebook">Like us on Facebook</a></li>
							<li><a href="https://twitter.com/kspt" class="twitter" title="" target="_blank"
									data-original-title="Follow us on Twitter">Follow us on Twitter</a></li>
							<li><a href="https://www.linkedin.com/kspt" class="linkedin" title="" target="_blank"
									data-original-title="Connect with us on LinkedIn">Connect
									with us on LinkedIn</a></li>
							<li><a href="http://plus.google.com/" class="google-plus" title="" target="_blank"
									data-original-title="Follow us on Google+">Follow us on Google+</a>
							</li>
							<li><a href="https://www.pinterest.com/kspt/" class="pinterest" title="" target="_blank"
									data-original-title="Check us out on Pinterest">Check us out on
									Pinterest</a></li>
							<li><a href="https://www.instagram.com/kspt/" class="instagram" title="" target="_blank"
									data-original-title="Check us out on Instagram">Check us out on
									Instagram</a></li>
							<li><a href="#" class="glassdoor" title="" target="_blank"
									data-original-title="Check us out on Glassdoor">Check us out on Glassdoor</a></li>
							<li><a href="/feed" class="rss" title="" target="_blank"
									data-original-title="Our Blog RSS Feed">Our Blog RSS Feed</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="site-info">
			<div class="container">

				<div class="clearfix">
					<nav class="pull-left">
						<div class="footer-links clearfix">
							<ul id="menu-footer" class="menu list-inline">
								<li id="menu-item-630"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-525 current_page_item menu-item-630 active">
									<a href="#" aria-current="page">Home</a>
								</li>
								<li id="menu-item-631"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-631"><a
										href="#">Employers</a></li>
								<li id="menu-item-632"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-632"><a
										href="#">Job Seekers</a></li>
								<li id="menu-item-958"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-958"><a
										href="#">Search Jobs</a></li>
								<li id="menu-item-634"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-634"><a
										href="#">About Us</a></li>
								<li id="menu-item-635"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-635"><a
										href="#">News</a></li>
								<li id="menu-item-636"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-636"><a
										href="#">Contact Us</a></li>
								<li id="menu-item-825"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-825"><a
										href="#">Sitemap</a></li>
							</ul>
						</div>
					</nav>

					<p class="attribution pull-right">© 2023 KSPT Technologies LLC | <span class="credits"
							id="site_credits">Site Credits</span>
						<span class="credits" id="site_credits_text" style="display:none;"><a href="#"
								target="_blank">Website
								Design</a> by <a href="#" target="_blank">Haley
								Marketing</a></span>
					</p>
				</div>


			</div>
		</div>
	</div>
	<!-- end #inner-footer -->

</footer>